<head>
<link href="custom.css" rel="stylesheet" type="text/css" media="all" />
</head>


<body>

	<header>

		<div class="wrapper">
		</div>
			<div class="wrapper2" >

			<nav>
				<ul id="listehaute">
					<li> I Am an Applicant </li>
					<li> API'S &amp; Docs </li>
					<li> About Us </li>
					<li> Careers </li>
				</ul>
				<br>

				<ul id="listebasse">
					<li> PRODUCT </li>
					<li> STAFFING </li>
					<li> INDUSTRIES </li>
					<li> RESOURCES </li>
					<li> COMPLIANCE </li>
					<li> LOG IN </li>
					<li> <a href="#" class="button1"> GET STARTED></a> </li>

				</ul>	

			</nav>
	</header>

	<section id="main-image">
	</section>
		<div class="wrapper">
		</div>


	<section id="partners">
	</section>
		<div class="wrapper">
		</div>

	<section id="accessibility">
	</section>
		<div class="wrapper">
		</div>

	<section id="testimony">
	</section>
		<div class="wrapper">
		</div>

	<section id="services">
	</section>
		<div class="wrapper">
		</div>

	

	<footer>
		

	</footer>
</body>
